body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.app-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #8269a3 0%, #8661a8 100%);
  padding: 32px;
}
.content-wrapper {
  min-width: 768px;
  margin: 0 auto;
  /* background: #fff; */
}
header {
  text-align: center;
  margin-bottom: 32px;
}
header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 2.2em;
  font-weight: bold;
  color: #fff2f8;
  margin-bottom: 8px;
}
header p {
  color: #e1c0ff;
  font-size: 1.2em;
}
.busca-box {
  background: #ba9ac9;
  border-radius: 12px;
  box-shadow: 0 10px 30px #865eac86;
  padding: 24px;
  margin-bottom: 24px;
}
.busca-container {
  display: flex;
  gap: 8px;
}
.busca-container input {
  flex: 1;
  padding: 12px 16px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.busca-container input:focus {
  border-color: #370057;
  box-shadow: 0 0 0 3px #9c3bf65f;
}
.busca-container button {
  padding: 12px 24px;
  background: #ab3bf6;
  color: #ffeffd;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}
.busca-container button:hover {
  background: #0d307c;
}
.busca-container button:disabled {
  cursor: non-allowed;
  background: #9ca3af;
}
.erro-message {
  margin-top: 16px;
  padding: 12px;
  background: #a28fc4;
  border: 1px solid #370057;
  border-radius: 8px;
  color: #644b75;
}
#card-resultado {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 20px #0000009a;
  padding: 32px;
}
#cidade-info {
  text-align: center;
  margin-bottom: 24px;
}
#cidade-nome {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1.5em;
  font-weight: bold;
  color: #9c4bd3;
  margin-bottom: 8px;
}
#cidade-desc {
  color: #ac8ad3;
  text-transform: capitalize;
  font-size: 1.2em;
}
#temperatura-box {
  text-align: center;
  margin-bottom: 32px;
}
#temperatura-valor {
  font-size: 3.7em;
  font-weight: bold;
  color: #8f69bb;
  margin-bottom: 8px;
}

#sensacao {
  color: #4a0b7e66;
}

.detalhes-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.detalhes-itens {
  background: #dbbbeecc;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
}

.detalhes-itens h2 {
  font-size: 0.9em;
  color: #755a94;
  margin-bottom: 4px;
}
.detalhes-itens h3 {
  color: #543585;
}

/* responsivo */
@media (max-width: 768px) {
  .content-wrapper {
    min-width: 100%;
  }
  .busca-container input {
    width: 80%;
  }
  .detalhes-box {
    grid-template-columns: 1fr;
  }

  #temperatura-valor {
    font-size: 3em;
  }
  header h1 {
    font-size: 1.8em;
  }
}
